body{
    background-image: url(pht.jpeg);
    background-attachment: fixed;
    

}
h1{

    font-style: oblique;
    font-weight:900;
    font-family: fantasy;
    font-size: xx-large;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}