.z{
    background-color:antiquewhite
     ;
}






.A{
    background-color:green;
    
}
.a{
    color:red ;
    font-style: oblique;
}
.B{
    background-color:yellow;
}
.b{
    color: red;
    font-style: oblique;
}
.C{
    background-color: yellow;
}
.c{
    color:red;
    font-style: oblique;

}
.D{
    background-color: green;
}
.d{
    color: red;
    font-style: oblique;
}
.E{
    background-color:green;
}
.e{
    color: red;
    font-style: oblique;
}
.F{
    background-color: yellow;
}
.f{
    color:red;
    font-style: oblique;
}












